html {scroll-behavior: smooth;}
body{ background-color: black; font-family: Arial, Helvetica, sans-serif, cursive; }
.m-heading{font-family: Arial, Helvetica, sans-serif;}
.text-white{ color: white;}
.main-container{ height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url('banner_image.png');
background-attachment: fixed;
background-size: cover;
}
.main_row{
display: flex;
justify-content: center;
align-items: center;
}
.main_row h1 {font-size: 5rem;}
.main_row img{ width: auto; height: 100vh;}